ion-searchbar{ 
    width: 50%;
    float: right;       
    .searchbar-input-container{            
        .searchbar-input{
            border-radius: 90px;
        }
    }
 }

.discover{
    font-size: 300%; 
}
.head{
    background-color: black;
}
.discover-card{
    height: 500px;
    width: 300px;
    background-color: white;
    border-radius: 20px;

    .cover{
        height: 100%;
        border-color: aliceblue;    
    }
}
