<ion-header class="head">
    <ion-searchbar class="searchbar" animated  showCancelButton="focus" ></ion-searchbar>
</ion-header>

<ion-content color="dark">
  <ion-grid>
    <ion-row>
      <ion-col>
        <h1 class="discover">Discover</h1>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>

      </ion-col>
      <ion-col>
        <ion-slides>
          <ion-slide>
              <ion-card class="discover-card">
                  <img class="cover" src="https://i.pinimg.com/originals/b4/75/00/b4750046d94fed05d00dd849aa5f0ab7.jpg" alt="">
                </ion-card>
          </ion-slide>
          <ion-slide>
              <ion-card class="discover-card">
                  <img class="cover" src="https://i.scdn.co/image/16160e9999e3395dfdef718d2e7cc8432d728920" alt="">
              </ion-card>
          </ion-slide>
          <ion-slide>
              <ion-card class="discover-card">
                  <img class="cover" src="https://i.scdn.co/image/2fe66e1efd0a4b097c8caf8d5899dcb1465e926d" alt="">
              </ion-card>
          </ion-slide>
        </ion-slides>
      </ion-col>
      <ion-col>

     </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
